@{
    ViewData["Title"] = "Engineers";
}

<div class="container">
  <div class="text-center">
    <h1 class="display-4">Engineers - Delete</h1>
  </div>
  <div class="container content">

  </div>
</div>
