@model Factory.Models.Engineer;

@{
    ViewData["Title"] = "Engineers";
}

<div class="container">
  <div class="text-center">
    <h1 class="display-4">Engineers - Details</h1>
  </div>
  <div class="container content">
    <h3>Name: @Model.Name</h3>
    <h3>Hire Date: @Model.HireDate.ToShortDateString()</h3>

    @Html.ActionLink("Remove Engineer", "Delete", "Engineers", new { id = Model.EngineerId }, new { @class = "btn btn-block btn-warning" })
    @Html.ActionLink("Edit Engineer", "Edit", "Engineers", new { id = Model.EngineerId }, new { @class = "btn btn-block btn-primary" })

    @* TODO add machines licensed to work on section *@
  </div>
</div>
